<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="URLSMTDataExchange" value="http://001-ITCL-EDI1:40506/SMTDataExchange" />
    <add key="URLTraceDataExchange" value="http://001-ITCL-EDI1:50607/traceDataExchange" />
    <add key="URLProfidDataExchange" value="http://001-ITCL-EDI1:60708/ProfidDataExchange" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
